<div id="wrapper" class="container ">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-sm-6 ">
            <!-- card starts here -->
            <div class="card " style="opacity: 0.9;">
                <div class="card-body">
                    <!-- form starts here -->
                    <form class="m-3">
                        <!-- input field -->
                        <div class="form-group">
                            <label for="userName">
                                <h1 class="p-1 headingStyles">User Name</h1>
                            </label>
                            <input type="text" class="form-control" id="userName" aria-describedby="userHelp"
                                placeholder="Enter user name">
                            <small id="userHelp" class="form-text text-muted">We'll never share your user name
                                with
                                anyone else.</small>
                        </div>
                        <div class="row mt-4">
                            <!-- buttons goes here -->
                            <div class="col-sm-12">
                                <button id="logIn" class="buttonStyle m-1">Log In</button> <span
                                    id="separator">or</span> <button id="signUp" class="buttonStyle m-1">Sign
                                    Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- block for quotes -->
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-sm-6 ">
            <div class="card " style="opacity: 0.9;">
                <div class="card-body">
                    <h3>Quote</h3>
                    <blockquote class="blockquote text-right">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                            ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- end of wrapper -->
</div>


<script src="/js/login.js"></script>