<div id="wrapper" class="container ">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-sm-6 ">
      <!-- card starts here -->
      <div class="card " style="opacity: 0.9;">
        <div class="card-body">
          <!-- form starts here -->
          <form class="m-3">
            <!-- input field -->
            <div class="form-group">
              <label for="userName">
                <h1 class="p-1 headingStyles">User Name</h1>
              </label>
              <input type="text" class="form-control" id="userName" aria-describedby="userHelp"
                placeholder="Enter user name">
              <small id="userHelp" class="form-text text-muted">We'll never share your user name
                with
                anyone else.</small>
            </div>
            <div class="row mt-4">
              <!-- buttons goes here -->
              <div class="col-sm-12">
                <button id="LogIn" type="submit" class="buttonStyle m-1"><a href="./first.html">Log In</a></button>
                <span id="separator">or</span> <button type="submit" id="SignUp" class="buttonStyle m-1"><a
                    href="./first.html">Sign Up</a></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- block for quotes -->
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-sm-6 ">
      <div class="card " style="opacity: 0.9;">
        <div class="card-body">
          <h3>Quote</h3>
          <blockquote class="blockquote text-right">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <!-- end of wrapper -->
</div>

<!-- <script src="./app.js"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>